@import 'colors', 'reset', 'components', 'nav';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.funny-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 500px;
    @include background-image("../img/redcat-mobile.jpg", .6);
    text-align: center;
    color: $white;   
}

@import 'footer';

@media (min-width: 768px) {
    .funny-info {
        min-height: 768px;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/redcat.jpg);
    }
}

