@use "colors" as colors;
@use "components" as components;
@use "reset";
@use "nav";
@use "footer";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 500px;
    @include components.bgc-image("../img/redcat-mobile.jpg", 0.6);
    text-align: center;
    color: colors.$white;
}

@media (min-width: 768px) {
    .info {
        min-height: 768px;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/redcat.jpg);
    }
}
