.wrapper-bigger, .wrapper-smaller {
    margin: 0 auto;
    width: 80%;
}

.section-padding {
    padding: 7rem 0;
}

.title {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-bottom: 4rem;
}

@media(min-width: 768px) {
    .wrapper-bigger {
        width: 80%;
        max-width: 1600px;
    }
    
    .wrapper-smaller {
        width: 65%;
        max-width: 1200px;
    }
}