.footer {
    background-color: #f4f4f4;
    flex-shrink: 0;

    &__bar {
        width: 100%;
        border-top: 1px solid rgba(#000000, .6);

        &:first-of-type {
            border-top: none;
        }

        &-button {
            padding: 1rem;
            background: none;
            display: block;
            margin-left: auto;
            cursor: pointer;
            border: none;
            font-size: 2.2rem;
            opacity: .6;

            &:focus {
                outline: none;
                opacity: 1;
            }
        }
    }

    &__wrapper {
        padding-bottom: 0;
    }

    &__heading {
        margin-bottom: 1.5rem;
        font-size: 4.5rem;
        text-align: center;

        img {
            height: 4.5rem;
            vertical-align: -6px;
        }
    }

    &__item {
        position: relative;
    }

    &__box {
        display: none;

        &--show {
            display: block;
        }

        &-text {
            margin-bottom: 1.2rem;
            color: #000;
            font-size: 2.2rem;
            font-weight: bold;
        }

        &-list {
            margin-bottom: 3rem;
            list-style: none;
            line-height: 125%;

            &-item {
                margin-bottom: 1.5rem;

                &-link {
                    font-size: 1.6rem;
                    color: #000;
                    text-decoration: none;
                    opacity: .8;
                    transition: opacity .3s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &:last-of-type {
            .footer__box-list {
                margin: 0;
            }
        }
    }

    &__end {
        padding: 3rem 0.5rem;
        width: 100%;
        text-align: center;
        border-top: 1px solid solid;
    }
}

@media (min-width: 650px) {
    .footer {
        &__bar {
            display: none;
        }

        &__box {
            display: block;
        }

        &__heading {
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}

@media (min-width: 1300px) {
    .footer {
        &__wrapper {
            justify-content: space-between;
            padding-bottom: 7rem;
        }

        &__heading {
            margin: 0;
            width: fit-content;
        }

        &__box {
            &-list {
                margin: 0;
            }

            &--two {
                margin: 0 6rem;
            }
        }

        &__container {
            width: fit-content;
        }
    }
}