html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}

body {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .block-scroll {
        overflow: hidden;
    }
}