@use "bar" with (
    $url-mobile: "../img/girl-mobile.jpg",
    $url: "../img/girl.jpg",
    $alfa: 0.6
);

@use "components" as components;
@use "colors" as colors;
@use "nav";
@use "footer";
@use "reset";
@use "card";

.header {
    display: flex;
    align-items: center;
    padding: 7rem 0;
    width: 100%;
    min-height: 300px;
    color: white;
    @include components.bgc-image("../img/jungle-mobile.jpg", 0.6);

    &__title {
        font-size: 3rem;
        
        &-span {
            display: block;
            font-size: 2.5rem;
            font-weight: normal;
            margin-bottom: 0.5rem;
        }
    }
}

.about-us {
    &__img {
        width: 100%;
    }

    &__box {
        margin-top: 2rem;

        &-heading {
            margin-bottom: 1rem;
        }

        &-text {
            line-height: 175%;
        }
    }
}

.offer {
    &__text {
        margin-bottom: 4rem;
        text-align: center;
    }

    &__btn-offers {
        margin: 4rem auto 0 auto;
    }
}

@media (min-width: 768px) {
    .header {
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/jungle.jpg");
        height: 400px;

        &__title {
            font-size: 3.8rem;
        }

        span {
            margin-bottom: 0.8rem;
        }
    }

    .about-us {
        &__box-heading {
            font-size: 3rem;
        }
    }
}

@media (min-width: 900px) {
    .offer {
        &__box {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            column-gap: 4rem;
        }
    }
}

@media (min-width: 1024px) {
    .about-us {
        &__box {
            margin-top: 0;
        }

        &__img {
            margin-right: 8rem;
            width: 45%;
            height: fit-content;
        }

        &__container {
            display: flex;
        }
    }
}

@media (min-width: 1300px) {
    .offer {
        &__card {
            &:nth-of-type(2) {
                margin: 3rem;
            }
        }
    }
}
