@use "bar" with (
    $url-mobile: "../img/girl-mobile.jpg",
    $url: "../img/girl.jpg",
    $alfa: 0.6
);

@use "components" as components;
@use "colors" as colors;
@use "nav";
@use "footer";
@use "reset";

.header {
    display: flex;
    align-items: center;
    padding: 7rem 0;
    width: 100%;
    height: 300px;
    color: white;
    @include components.bgc-image("../img/jungle-mobile.jpg", 0.6);

    &__title {
        font-size: 3rem;
    }

    span {
        display: block;
        font-size: 2.5rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
    }
}

.about-us {
    &__img {
        width: 100%;
    }

    &__box {
        margin-top: 2rem;

        &-heading {
            margin-bottom: 1rem;
        }

        &-text {
            line-height: 175%;
        }
    }
}

.offer {
    &__box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 4rem;
        text-align: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 3rem;
        border-radius: 5px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

        &:nth-of-type(2) {
            margin: 3rem 0;
        }

        &-price {
            margin: 1rem 0;
            font-size: 5rem;
            font-weight: bold;
        }

        &-list {
            list-style-type: none;

            &-item--has::before {
                content: url(../img/icons/tabler-icon-check.svg);
                margin-right: 0.5rem;
            }

            &-item--no-has {
                opacity: 0.6;

                &::before {
                    content: url(../img/icons/tabler-icon-minus.svg);
                    margin-right: 0.5rem;
                }
            }
        }

        &-button {
            padding: 1rem 6rem;
            margin-top: 2rem;
            border: none;
            font-size: 2rem;
            background-color: colors.$white;
            color: rgba(0, 0, 0, 0.6);
            box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &--neon {
                background-color: colors.$green;
                box-shadow: 1px 4px 4px 0 rgba(44, 220, 116, 0.6);
                color: #000;
            }
        }
    }

    &__btn-offers {
        padding: 1rem 6rem;
        border: none;
        font-size: 2rem;
        color: colors.$white;
        cursor: pointer;
        text-decoration: none;
        display: block;
        width: fit-content;
        background-color: colors.$darker-green;
        margin: 0 auto;
        margin-top: 4rem;
    }
}

@media (min-width: 768px) {
    .header {
        background-image: linear-gradient(45deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/jungle.jpg");
        height: 400px;

        &__title {
            font-size: 3.8rem;
        }

        span {
            margin-bottom: 0.8rem;
        }
    }

    .about-us {
        &__box-heading {
            font-size: 3rem;
        }
    }
}

@media(min-width: 900px) {
    .offer {
        &__box {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

@media (min-width: 1024px) {
    .about-us {
        &__box {
            margin-top: 0;
        }

        &__img {
            margin-right: 8rem;
            width: 45%;
            height: fit-content;
        }

        &__container {
            display: flex;
        }
    }
}

@media(min-width: 1300px) {
    .offer {
        &__card {
            &:nth-of-type(2) {
                margin: 3rem;
            }
        }
    }
}