@use 'bar' with (
    $url-mobile: "../img/girl-mobile.jpg",
    $url: "../img/girl.jpg",
    $alfa: .6
);

@import 'colors', 'reset', 'components', 'nav', 'footer';

.header {
    display: flex;
    align-items: center;
    padding: 7rem 0;
    width: 100%;
    height: 300px;
    color: white;
    @include background-image("../img/jungle-mobile.jpg", .6);

    &__title {
        font-size: 3rem;
    }

    span {
        display: block;
        font-size: 2.5rem;
        font-weight: normal;
    }

}

.about-us {
    &__img {
        width: 100%;
    }

    &__box {
        margin-top: 2rem;

        &-heading {
            margin-bottom: 1rem;
        }

        &-text {
            line-height: 175%;
        }
    }
}

.offer {
    &__box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 4rem;
        text-align: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 3rem;
        border-radius: 5px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);

        &:nth-of-type(2) {
            margin: 3rem 0;
        }

        &-price {
            margin: 1rem 0;
            font-size: 5rem;
            font-weight: bold;
        }

        &-list {
            list-style-type: none;

            &-item--has::before {
                content: url(../img/icons/tabler-icon-check.svg);
                margin-right: 0.5rem;

            }

            &-item--no-has {
                opacity: 0.6;

                &::before {
                    content: url(../img/icons/tabler-icon-minus.svg);
                    margin-right: 0.5rem;
                }
            }
        }

        &-button {
            padding: 1rem 6rem;
            margin-top: 2rem;
            border: none;
            font-size: 2rem;
            background-color: $white;
            color: rgba(0, 0, 0, .6);
            box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, .6);
            cursor: pointer;

            &--neon {
                background-color: $green;
                box-shadow: 1px 4px 4px 0 rgba(44, 220, 116, .6);
                color: #000;
            }
        }
    }

    &__btn-offers {
        display: block;
        padding: 2.5rem 5rem;
        margin: 4rem auto 0 auto;
        width: fit-content;
        background: $darker-green;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid;
        cursor: pointer;
        transition: color .3s;
    }
}

@import 'medium', 'large';

