@use 'bar'with ($url-mobile: "../img/conifer-mobile.jpg",
    $url: "../img/conifer.jpg"
);

@import 'reset', 'colors', 'components', 'nav', 'footer';

.h1 {
    padding: 7rem;
    font-weight: bold;
    margin: 0;
}

.about-offer {
    @include background-image("../img/leaves-mobile.jpg", .8);
    color: $white;

    &__text {
        line-height: 135%;
    }
}

.why-we {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;


        &:last-of-type {
            margin-bottom: 0;
        }

        &-text {
            font-weight: bold;
        }

        &-img {
            width: 7rem;
            margin-bottom: 0.5rem;
        }
    }
}

.offer {
    &__box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 4rem;
        text-align: center;
    }

    &__card {
        display: flex;
        margin-bottom: 7rem;
        flex-direction: column;
        align-items: center;
        padding: 1.5em 2em;
        border-radius: 5px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);

        &:last-of-type {
            margin-bottom: 0;
        }

        &-price {
            font-weight: bold;
            margin: 1rem 0;
            font-size: 2.5em;
        }

        &-list {
            list-style-type: none;

            &-item--has::before {
                content: url(../img/icons/tabler-icon-check.svg);
                margin-right: 0.5rem;
            }

            &-item--no-has {
                opacity: 0.6;

                &::before {
                    content: url(../img/icons/tabler-icon-minus.svg);
                    margin-right: 0.5rem;
                }
            }
        }

        &-button {
            margin-top: 1em;
            padding: 0.5em 3em;
            color: rgba(0, 0, 0, .6);
            font-size: 1em;
            background-color: #fff;
            border: none;
            box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .6);
            cursor: pointer;
        }
    }



}

@media (min-width: 768px) {
    .why-we {
        &__container {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .h1 {
        font-size: 3em;
    }

    .about-offer {
        background-image: linear-gradient(45deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../img/leaves.jpg);
    }

    .nav__box {
        width: 100%;
    }
}

@media (min-width: 1024px) {

    .offer {
        &__box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__card {
            width: fit-content;
        }
    }

    .nav__box {
        width: 80%;
    }

}

@media (min-width: 1380px) {
    .offer {
        &__card {
            margin: 0;
        }

        &__box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 4rem;
        }
    }
}