.footer {
    background-color: #f4f4f4;

    &__heading {
        display: block;
        margin-bottom: 1.5rem;
        font-size: 4.5rem;
        text-align: center;

        img {
            height: 4.5rem;
        }
    }

    &__box {


        &-text {
            margin-bottom: 1.2rem;
            color: #000;
            font-size: 2.2rem;
            font-weight: bold;
        }

        &-list {
            margin-bottom: 3rem;
            list-style: none;
            line-height: 125%;

            &-item {
                margin-bottom: 1.5rem;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &-link {
                    font-size: 1.6rem;
                    color: rgba(000, 000, 000, .8);
                    text-decoration: none;
                }
            }
        }

        &:last-of-type {
            .footer__box-list {
                margin: 0;
            }
        }
    }

    &__end {
        padding: 3rem 0.5rem;
        width: 100%;
        text-align: center;
        border-top: 1px solid solid;
    }
}