.footer {
    &__wrapper {
        justify-content: space-between;
    }

    &__heading {
        margin: 0;
        width: fit-content;
    }

    &__box {
        &-list {
            margin: 0;
        }
    }

    &__box:nth-of-type(2n) {
        margin: 0 4em;
    }

    &__container {
        width: fit-content;
    }
}