.footer {

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }
}