.footer {
    &__heading {
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}